<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/signup">
        {{!-- agar html element ka name defined hai toh request mei voh ussi naam se pass hoegey
    jaise yaha username aur password hue hai --}}

        <input placeholder="First Name" name="firstName">
        <input placeholder="Last Name" name="lastName">        
        <input placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="submit">
    </form>
</body>
</html