<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{!-- method: implies what has to be done with data and 
    action: means on which link it has to be posted --}}
    <form method="POST" action="/signup">
        <input placeholder="First Name" name="firstName">
        <input placeholder="Last Name" name="lastName">
        <input placeholder="Username" name="userName">
        <input type="password" placeholder="Password" name="password">
        <input type="submit">
    </form>
</body>
</html>